@mixin hero-sizing {
  width: calc(100% - 10px);
  height: $box-height;
  margin-top: 10px;
    @media #{$information-tablet} {
      transition: margin-top 0.5s ease;
      margin-top: 25px;
    }
    // @media #{$information-phone} {
    //   display: none;
    // }
}

.logo {
  @include hero-sizing;
  background-image: url('../images/peralta-logo.png');
  background-size: 225.5px 130.35px;
  background-repeat: no-repeat;
  background-position: 25px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.phone-logo {
  // background-color: red;
  background-image: url('../images/peralta-logo.png');
  background-size: 175px;
  background-repeat: no-repeat;
  background-position: center;
  width: 75%;
  height: 130px;
  position: absolute;
  @include translate-center;
  display: none;
    @media #{$information-phone} {
      display: block;
    }
}

.hero-photo {
  @include hero-sizing;
  height: calc($box-height + 5px);
  border: 5px solid $white;
  background-image: url("../images/top-image.png");
  background-size: 825px 508.2px;
  background-repeat: no-repeat;
  background-position: -65px -60px;
  position: relative;
    @media #{$information-phone} {
      display: none;
    }
}

#overlay {
@include hero-sizing;
width: 100%;
background-image: url("http://transparenttextures.com/patterns/clean-gray-paper.png");
opacity: 0.7;
position: absolute;
bottom: 0;
z-index: 1;
  @media #{$information-phone} {
    background-image: none;
  }
}
